@charset "utf-8";
/* CSS Document */

		body{
			background-color:#8D94BA;
			color: #0F1A20;
			/* color properties */
			
			font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
			font-size: 20px;
			line-height: 150%; /* adjust as needed */
			/* typography */
			
			margin: 0;
			padding: 0;
			/* borders, spacing*/
		}
		
		.wrapper {
			background: #fff8f0;
			width: 972px;
			margin-left:auto;
			margin-right: auto;
			padding: 0 18px 18px;
		}
		
		h1 {
			color: #A15E49;
			text-align: center;
			line-height: 1.0;
		}
		/* if there is an h1 on the page, then change its color to
		seagreen and change its size to 80 pixels in height */
		
		h2 {
			color: #2A324B;
		}
		
		h3{
			font-family:"Franklin Gothic Demi", "Franklin Gothic Medium";
			
			font-kerning: none;
		}
		
		p {
			font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
			
		}
		
		em.purple {
			color: #394467;
		}
		
		ul {
			color:darkgoldenrod;
		}
		
		li {
			color:darkorange;
		}
		
		a {
			color:#287153;
			
		}
		
		img {
		}
		
		img.about {
			filter:drop-shadow(4px 4px 4px seagreen);
		}
		
		#table {
			table-layout: auto;
			border-color: darkslategrey;
			border-width: medium;
		}
		
		tr{
			background-color: aliceblue;
		}
		
		th{
			font-style: oblique;
			background: #7EBCF4;
		}
		
		td{
			font-size: 13px;
			font-style: oblique;
		}
		
		.site-nav a, .page-nav a{
			text-decoration: none;
		}
		
		.site-nav a:hover{
			text-decoration:underline;
			color: #737C99;
	
		} 
		.page-nav a:hover{
			text-decoration:underline;
			color: #737C99;
		}
		
		.site-nav{
			background: #2a324b;
			font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
			width: auto;
			text-align: center;
			color:aliceblue;
			margin: auto;
		}
		
		.site-nav a {
			color:aliceblue;
			
		}
		
		.page-nav {
			width: 500px;
			text-align: center;
			background: #2a324b;
			color:aliceblue;
			margin: auto;
		}
		
		.page-nav a {
			color:aliceblue;
		}

	.gallery-grid {
		display: grid;
		grid-template-columns: auto auto auto;
		grid-row-gap: 20px;
		justify-items: center;
		align-items: start;
		justify-content: space-between;
	}
	
.gallery-item {
	width: 300px;
	text-align: center;
	
}

.gallery-item p{
	margin: .25em 0;
	line-height: 135%;
}









