@charset "utf-8";
/* CSS Document */

		body{
			background-color: #a4c3b2;
			color: #2f3e46;
			/* color properties */
			
			font-family:"legitima", serif;
			font-size: 20px;
			line-height: 150%; /* adjust as needed */
			/* typography */
			
			margin: 0;
			padding: 0;
			/* borders, spacing*/
		}
		
		.wrapper {
			background: #eaf4f4;
			/* max width 900px */
			width: 870px;
			margin-left:auto;
			margin-right: auto;
			padding-top: 30px;
			padding-right:40px;
			padding-left: 40px;
			padding-bottom: 30px;
		}
		
		h1 {
			color: #354f52;
			font-family:"forma-djr-display", sans-serif;
			text-align: center;
			line-height: 1.0;
		}
		/* if there is an h1 on the page, then change its color to
		seagreen and change its size to 80 pixels in height */
		
		h2 {
			color: #2A324B;
			font-family:"forma-djr-display", sans-serif;
		}
		
		h3{
			font-family:"forma-djr-display", sans-serif;
		}
		
		
		em.purple {
			background-image: url("images_resized/green-sea.gif");
			color: transparent;
			background-clip: text;
			padding-right: 2px;
			padding-left: 2px;
			
		}
		
		
		li {
			color:#394467;
			font-family:"legitima", serif;
		}
		
		a {
			text-decoration: none;
			color:#6b9080;
			
		}

		a:hover{
				text-decoration: underline;
		}

		.about{
			text-align: center;
		}
		
		#table {
			table-layout: auto;
			
		}
		
		tr{
			background-color: #f6fff8;
		}
		
		th{
			background: #354f52;
			color: #f6fff8;
		}
		
		td{
			font-size: 14px;
			font-family:"legitima", serif;
			
		}
		
		.site-nav a, .page-nav a{
			text-decoration: none;
		}
		
		.site-nav a:hover{
			background: #a4c3b2;
			color: #f6fff8;
			border: 0px;
	
		} 
		.page-nav a:hover{
			color: #354f52;
		}
		
		.site-nav{
			display: grid;
			grid-auto-flow: column;
			grid-gap: 10px;
			padding: 10px;
			align-items: center;
			color:aliceblue;
			font-family:"forma-djr-display", sans-serif;
			font-weight: bold;
		}
.site-logo-image {
	height: 50px;
}
		
		.site-nav a {
			justify-self: center;
			color:#354f52;
			text-decoration: none;
			padding: 5px 10px;
			border: 1px solid #354f52;
			border-radius: 20px;
			
		}
		
		.page-nav {
			width: fit-content;
			text-align: center;
			background: #6b9080;
			color:aliceblue;
			margin: auto;
			padding-left: 5px;
			padding-right: 5px;
		}
		
		.page-nav a {
			color:#f6fff8;
			
		}

		.gallery-grid {
			display: grid;
			grid-template-columns: auto auto auto;
			grid-row-gap: 20px;
			justify-items: center;
			align-items: start;
			justify-content: space-around;
		}

		.gallery-item {
			width: 300px;
			text-align: center;
		}

		.gallery-item p{
			margin: .25em 0;
			line-height: 135%;
		}

		.center{
			display: block;
		  margin-left: auto;
		  margin-right: auto;
		}

		.caption{
			text-align: center;
			font-size: 14px;
			font-style: italic;
		}

		.reference a{
			color:#6b9080;
		}


		.button a{
			background: #a4c3b2;
			color:#f6fff8;
			text-decoration: none;
			font-size: 14px;
			border-radius: 10px;
			padding:5px;
		}
		.button a:hover{
			background:#cad2c5;
			color: #f6fff8;

		}

		.site-logo{
			color:#52796f;
			float: left;
			margin-top: 15px;
			margin-left: 10px;

		}

		.site-logo:hover{
			color:#a4c3b2;
		}









